In [35]:
import pandas as pd
df = pd.read_csv("D:/Data Visuals/Pandas/CSV/roblox_games_data2.csv", 
                 sep=';')
print(df)

     Unnamed: 0             Date  Active Users  Favorites Total Visits  \
0             0   22/2/2022 9:28          1557     330071       50.9M+
1             1   22/2/2022 9:28          3208     137809       30.9M+
2             2   22/2/2022 9:28          2091    2556671      725.7M+
3             3   22/2/2022 9:28          6235     711635      461.2M+
4             4   22/2/2022 9:28          7273     247852       77.2M+
..          ...              ...           ...        ...          ...
96           96  22/2/2022 11:00          1698      82997        5.4M+
97           97  22/2/2022 11:00          2834      94943       10.6M+
98           98  22/2/2022 11:00          2609      98548        4.3M+
99           99  22/2/2022 11:00          7411     133820       32.9M+
100         100  22/2/2022 11:00          2700     551891      141.6M+

     Server Size       Genre  \
0              8    Building
1             12  All Genres
2             20   Adventure
3             12    Fighting
4             15         RPG
..           ...         ...
96            20    Fighting
97            30  All Genres
98            35      Horror
99            22  All Genres
100           15  All Genres

                                                 Title               Creator  \
0          [TIER8]FactorySimulatorByGamingGloveStudios  Gaming Glove Studios
1    [NEWBOSS]AnimeClickersSimulatorBySimpleSimulators     Simple Simulators
2          (Cosmiore‚òÑÔ∏è)LoomianLegacyByLlamaTrainStudio    Llama Train Studio
3    [CHRISTMAS+GODUSOPP+KIRITO]ABAByDogsStudios:South   Dogs Studios: South
4                              DeepwokenByVowsbytheSea       Vows by the Sea
..                                                 ...                   ...
96                [Update30-II]AllusionsBy@Klevinoroto          @Klevinoroto
97                               AloSanctuaryByAloYoga              Alo Yoga
98                            UsAreToysBy@UmmmOkayWhat         @UmmmOkayWhat
99                                 üïØEncantoü¶ãBy@skygriI              @skygriI
100           ü§ñ[CyberCity]GiantSimulatorByMithrilGames         Mithril Games

         gameID       Category
0    6769764667  Most Engaging
1    3102144307  Most Engaging
2     306964494  Most Engaging
3    1458767429  Most Engaging
4    4111023553  Most Engaging
..          ...            ...
96   5895971007  Up-And-Coming
97   8523408215  Up-And-Coming
98   8668673762  Up-And-Coming
99   8482542269  Up-And-Coming
100  2986677229  Up-And-Coming

[101 rows x 11 columns]

In [12]:
import pandas as pd
df = pd.read_csv("coffee.csv", sep = "|")
print(df)

         Date    Open    High     Low   Close  Volume Currency
0    3/1/2000  122.25  124.00  116.10  116.50    6640      USD
1    4/1/2000  116.25  120.50  115.75  116.25    5492      USD
2    5/1/2000  115.00  121.00  115.00  118.60    6165      USD
3    6/1/2000  119.00  121.40  116.50  116.85    5094      USD
4    7/1/2000  117.25  117.75  113.80  114.15    6855      USD
..        ...     ...     ...     ...     ...     ...      ...
95  18/5/2000   91.00   93.00   91.00   91.50     211      USD
96  19/5/2000   95.30   98.75   94.80   97.95    8338      USD
97  22/5/2000   97.50  104.70   97.50  103.30   14769      USD
98  23/5/2000  103.00  104.25  101.30  103.70    7216      USD
99  24/5/2000  103.25  103.50  100.75  101.85    4667      USD

[100 rows x 7 columns]

In [56]:
import pandas as pd
df = pd.read_csv("D:/Data Visuals/Pandas/CSV/coviddeathbycountry.csv", header=None)
cn = ['Name', 'Year', 'Rating','Votes']
file = pd.read_csv("D:/Data Visuals/Pandas/CSV/top_english_movies.csv", sep = ",", names = cn)
df = pd.DataFrame(file)
print(df)

                           Name        Year        Rating       Votes
NaN                  movie_name  movie_year  movie_rating  user_votes
0.0    The Shawshank Redemption        1994           9.3        2.8M
1.0               The Godfather        1972           9.2          2M
2.0             The Dark Knight        2008           9.0        2.8M
3.0       The Godfather Part II        1974           9.0        1.3M
...                         ...         ...           ...         ...
245.0                12 Monkeys        1995           8.0        638K
246.0                  Papillon        1973           8.0        136K
247.0             Blood Diamond        2006           8.0        575K
248.0         Blade Runner 2049        2017           8.0        631K
249.0                       Her        2013           8.0        651K

[251 rows x 4 columns]

In [ ]:
import pandas as pd
df =pd.read_csv("D:/Data Visuals/Pandas/CSV/top_trending_books.csv", index_col=['Rank']) # ["Rank", "Whatever"]
print(df)

In [1]:
# usecols, show only interested columns 
# nrows, show only interested rows
import pandas as pd
df =pd.read_csv("D:/Data Visuals/Pandas/CSV/top_trending_books.csv", nrows = 10, usecols=[2,3,4]) # ["Rank", "Whatever"]
print(df)

   book price  rating            author
0       18.42     4.1    Rebecca Yarros
1       20.93     4.5    Britney Spears
2       31.50     4.5  Barbra Streisand
3       23.99     4.4     Matthew Perry
4        5.65     4.8      Adam Wallace
5       16.99     4.8    Rebecca Yarros
6       27.43     4.3           Unknown
7        8.55     4.8       Jeff Kinney
8        9.86     4.4       David Grann
9       11.98     4.5     Anthony Doerr

## Things to note down:

1. head()
2. info() 
3. describe()
4. shape()
5. pd.columns <-
6. sort_values <- [column, ascending = True / False].head()
7. value_counts() <- specific the column, and count 
8. isnull(), sum() function

## Part 2: 
1. dropna()
2. fillna('param') 
3. Drop Duplicates (keep, inplace, ignore_index) parameter
4. astype() <- convert string to int
5. .dtype use case
6. replace 
7. to_csv file