## Start with a simple DataFrame
1. DataFrame, columns and rows
2. Implement with Dictionary
3. Combine arrays
4. Using numpy to create DF
5. merge(arr?, arr?, on?, how?), concat(arr?,arr?, axis ? or ignore_index = true)
6. join, (useful when same index / label)

In [ ]:
# i) Import a DataFrame
import pandas as pd

list_name = ['Abu','Bob','Celine']
df = pd.DataFrame(list_name)

print(df)

        0
0     Abu
1     Bob
2  Celine

In [8]:
# 1) Columns and rows
# Basic 
import pandas as pd
info_1= ["John",18,"Chow Lit"]
info_2 =["Peach",16,"Charter"]
df = pd.DataFrame([info_1, info_2], index =['I', 'II'], columns = ["Name","Age","School"]) # index is rows
print(df)

     Name  Age    School
I    John   18  Chow Lit
II  Peach   16   Charter

In [ ]:
# 2) Dictionary
# Dictionary of lists
import pandas as pd
# Syntax = {key : [stuff,stuff2]}
# Syntax = {key2 :[stuff3,stuff4]}

My_states = {'States': ['Johor', 'Kelantan', 'Pahang', 'Sarawak', 'Sabah'], 
             'Capitals': ['Johor Bahru', 'Kota Bharu', 'Kuantan', 'Kuching', 'K. Kinabalu'],
             'Income (MYR)': [6879, 3614, 4753, 4978,4577],
             'Population (M)': [4.1, 1.86, 1.64, 2.51, 3.59]}
             
df = pd.DataFrame(My_states, index = ["I","II","III","IV","V"])
print(df)

       States     Capitals  Income (MYR)  Population (M)
I       Johor  Johor Bahru          6879            4.10
II   Kelantan   Kota Bharu          3614            1.86
III    Pahang      Kuantan          4753            1.64
IV    Sarawak      Kuching          4978            2.51
V       Sabah  K. Kinabalu          4577            3.59

In [ ]:
# 2) Dictionaries v2
# Syntax = [{x: stuff}, {y: stuff}]
# Syntax = [{x: stuff2}, {y: stuff2}]
import pandas as pd
# List of dictionaries
phone_data = [{"Brand" : 'Samsung', "Sales" : 321.3, "Revenue" : 211.2},
              {"Brand" : 'Nokia', "Sales" : 119.4, "Revenue" : 34.6}]

df = pd.DataFrame(phone_data)
print(df)

     Brand  Sales  Revenue
0  Samsung  321.3    211.2
1    Nokia  119.4     34.6

In [ ]:
# Dict, and zip use case
# Instead of assigning it, easier to just use this. 
import numpy as np
import pandas as pd 

keys = np.array(["Name", "Age", "Country"])
listA = np.array(["Aiman", "17", "Malaysia"])
listB = np.array(["Siran", "29", "Indonesia"])
data = [dict(zip(keys, listA)), dict(zip(keys, listB))]


print(pd.DataFrame(data, index = ["I", "II"]))

     Name Age    Country
I   Aiman  17   Malaysia
II  Siran  29  Indonesia

In [ ]:
# Dict, and zip use case v2

import numpy as np
import pandas as pd

location = np.array(['Selangor', 'Johor', 'Sabah', 'Kuala Lumpur', 'Sarawak'])
cases = np.array([1.39, 0.39, 0.38, 0.37, 0.31])
deaths = np.array([10, 4, 3, 2, 1])

data_zip = {'Location': location, 'Cases': cases, 'Deaths': deaths}
df = pd.DataFrame(data_zip)

print(df)

       Location  Cases  Deaths
0      Selangor   1.39      10
1         Johor   0.39       4
2         Sabah   0.38       3
3  Kuala Lumpur   0.37       2
4       Sarawak   0.31       1

In [15]:
# Concat (combining two cells into one) 
# Vertical wise
import numpy as np
import pandas as pd

df_month = pd.DataFrame({'Month' : ['Jan', 'May', "Nov"], 
                        'Date' : [11,12,15], 
                        'Year' : [2022,2024,2025]})

df_month2 = pd.DataFrame({'Month' : ['Feb', 'March', "Dec"], 
                        'Date' : [14,17,19], 
                        'Year' : [2012,2018,2015]})

# combine = pd.concatenate([], ignore_index = )
result = pd.concat([df_month, df_month2], ignore_index=True)

# Print the result
print(result)

   Month  Date  Year
0    Jan    11  2022
1    May    12  2024
2    Nov    15  2025
3    Feb    14  2012
4  March    17  2018
5    Dec    19  2015

In [ ]:
# Horizontal wise
import pandas as pd
df1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                    'Age': [25, 30, 22]})
df2 = pd.DataFrame({'Location': ['New York', 'San Francisco', 'Los Angeles']})

result = pd.concat([df1, df2], axis = 1)
print(result)

      Name  Age       Location
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

## Understanding `pd.merge()` - Combining DataFrames by Common Columns

**Merge** combines two DataFrames based on a **common column** (like a key).

### Syntax:
```python
pd.merge(left_df, right_df, on='column_name', how='join_type')
```

### Join Types:

1. **`inner`** (default): Keep only rows where the key exists in **BOTH** DataFrames
2. **`outer`**: Keep **ALL** rows from both DataFrames (fills missing with NaN)
3. **`left`**: Keep **ALL** rows from left DataFrame + matching rows from right
4. **`right`**: Keep **ALL** rows from right DataFrame + matching rows from left

### Visual Guide:
```
Left DF:          Right DF:
  Key | Value       Key | Score
  ----+------       ----+------
   A  |  10          A  |  100
   B  |  20          C  |  200
   D  |  30          D  |  300

INNER:  A, D only (common keys)
OUTER:  A, B, C, D (all keys)
LEFT:   A, B, D (all from left)
RIGHT:  A, C, D (all from right)
```

In [20]:
import pandas as pd

# Create sample DataFrames
df_students = pd.DataFrame({
    'StudentID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [20, 21, 19, 22]
})

df_grades = pd.DataFrame({
    'StudentID': [101, 102, 105, 106],
    'Grade': ['A', 'B', 'A', 'C'],
    'Subject': ['Math', 'Science', 'Math', 'English']
})

print("Students DataFrame:")
print(df_students)
print("\nGrades DataFrame:")
print(df_grades)
print("\n" + "="*60)

# 1) INNER JOIN - Only matching keys (101, 102)
inner_result = pd.merge(df_students, df_grades, on='StudentID', how='inner')
print("INNER JOIN (only StudentID 101, 102):")
print(inner_result)
print("\n" + "="*60)

# 2) OUTER JOIN - All keys from both (101, 102, 103, 104, 105, 106)
outer_result = pd.merge(df_students, df_grades, on='StudentID', how='outer')
print("OUTER JOIN (all StudentIDs, NaN for missing):")
print(outer_result)
print("\n" + "="*60)

# 3) LEFT JOIN - All from left (students: 101, 102, 103, 104)
left_result = pd.merge(df_students, df_grades, on='StudentID', how='left')
print("LEFT JOIN (all students, NaN for students without grades):")
print(left_result)
print("\n" + "="*60)

# 4) RIGHT JOIN - All from right (grades: 101, 102, 105, 106)
right_result = pd.merge(df_students, df_grades, on='StudentID', how='right')
print("RIGHT JOIN (all grades, NaN for grades without student info):")
print(right_result)
print("\n" + "="*60)

Students DataFrame:
   StudentID     Name  Age
0        101    Alice   20
1        102      Bob   21
2        103  Charlie   19
3        104    David   22

Grades DataFrame:
   StudentID Grade  Subject
0        101     A     Math
1        102     B  Science
2        105     A     Math
3        106     C  English

============================================================
INNER JOIN (only StudentID 101, 102):
   StudentID   Name  Age Grade  Subject
0        101  Alice   20     A     Math
1        102    Bob   21     B  Science

============================================================
OUTER JOIN (all StudentIDs, NaN for missing):
   StudentID     Name   Age Grade  Subject
0        101    Alice  20.0     A     Math
1        102      Bob  21.0     B  Science
2        103  Charlie  19.0   NaN      NaN
3        104    David  22.0   NaN      NaN
4        105      NaN   NaN     A     Math
5        106      NaN   NaN     C  English

============================================================
LEFT JOIN (all students, NaN for students without grades):
   StudentID     Name  Age Grade  Subject
0        101    Alice   20     A     Math
1        102      Bob   21     B  Science
2        103  Charlie   19   NaN      NaN
3        104    David   22   NaN      NaN

============================================================
RIGHT JOIN (all grades, NaN for grades without student info):
   StudentID   Name   Age Grade  Subject
0        101  Alice  20.0     A     Math
1        102    Bob  21.0     B  Science
2        105    NaN   NaN     A     Math
3        106    NaN   NaN     C  English

============================================================

### Summary of Results:

| Join Type | StudentIDs Included | What Happens |
|-----------|-------------------|--------------|
| **INNER** | 101, 102 | Only students who have grades |
| **OUTER** | 101, 102, 103, 104, 105, 106 | Everyone (students & grades), NaN for missing |
| **LEFT** | 101, 102, 103, 104 | All students, NaN if no grade |
| **RIGHT** | 101, 102, 105, 106 | All grades, NaN if no student info |

### When to Use:
- **INNER**: Want only complete records (both tables must have the key)
- **OUTER**: Want everything, even if data is incomplete
- **LEFT**: Prioritize left DataFrame, add info from right if available
- **RIGHT**: Prioritize right DataFrame, add info from left if available